body {
  font-family: Cooper Black, Britannic bold;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffa500;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

main {
  padding: 2rem;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

img {
  width: 800px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #ffa500;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
